body {
  font-family: $textFont;
  font-size: 14px;
  line-height: 1.714;
  color: $primaryTextColor;
  background-color: $secondaryColor;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
.advantages__invisible {
  display: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: $secondaryColor;
  @media screen and (min-width: 480px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
