/*Advantages */
.advantages {
  padding-bottom: 0;
}
.advantages__title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $mainColor;
}
.advantages__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.advantages__item:not(:last-child) {
  margin-right: 30px;
}
.advantages__item:last-child {
  padding-right: 0;
}
.advantages__menu-list {
  display: flex;
  justify-content: center;
  padding-bottom: 0;
}
.advantages__menu-list .advantages__item {
  width: 270px;
}
.advantages__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $thirdColor;
  border-radius: 4px;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
}
