/* footer */
footer {
  padding: 60px 0;
  background-color: #2f303a;
}
/*.footer__blocks {
  display: flex;
  align-items: flex-start;
}
.footer__item:not(:last-child) {
  margin-right: 70px;
}*/
.footer__logo {
  text-decoration: none;
  font-family: "Raleway", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: $accentColor;
  display: block;
  margin-bottom: 20px;
}
.footer__item,
.address__item,
.address__info {
  @media screen and (min-width: 480px) {
    text-align: center;
  }
}
.footer__item {
  @media screen and (min-width: 480px) {
    margin-bottom: 60px;
  }
}
.footer__item:last-child {
  @media screen and (min-width: 480px) {
    margin-bottom: 0;
  }
}
.footer__logo--secondaryColor {
  color: $secondaryColor;
}
.join__title,
.subscription__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $secondaryColor;
}
.join__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.join__link {
  color: $thirdColor;
  background: rgba(255, 255, 255, 0.1);
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 480px) {
    margin-right: 10px;
  }
  &:hover {
    background-color: $accentColor;
  }
}
.join__social-icons:last-child .join__link {
  @media screen and (min-width: 480px) {
    margin-right: 0;
  }
}
.join__social-icon {
  fill: $secondaryColor;
}
.address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: $primaryTextColor;
  margin-bottom: 0;
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
}
.address__location {
  text-decoration: none;
  color: $secondaryColor;
}
.address__info {
  /*display: flex;
  align-items: center;*/
  text-decoration: none;
  color: $primaryTextColor;
}
.subscription__button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: $secondaryColor;
  background: $accentColor;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 29px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 480px) {
    max-width: 200px;
    margin: 0 auto;
  }
  &:hover {
    background-color: #188ce8;
  }
}
.subscription__label {
  padding-right: 10px;
}
.subscription__icon {
  fill: $secondaryColor;
}
/*.subscription__form {
  display: flex;
  align-items: center;
  justify-content: center;
}*/
.subscription__email {
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 15px 15px;
  width: 358px;
  margin-right: 12px;
  @media screen and (min-width: 480px) {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  &::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}
