.page-header__logo {
  text-decoration: none;
  font-family: "Raleway", Arial, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $mainColor;

  &--accent-color {
    color: $accentColor;
  }
}
