/* Header */
.page-header {
  border-bottom: 1px solid #ececec;
  background-color: $secondaryColor;
}
.page-header__logo {
  text-decoration: none;
  font-family: "Raleway", Arial, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $mainColor;
}
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}
.site-nav,
.contacts {
  @media screen and (max-width: 767px) {
    display: none;
  }
}
/* Main Navigation */
.page-header__container,
.page-header__nav {
  display: flex;
  align-items: center;
}
.list li {
  margin-left: 50px;
}
.nav-contacts {
  margin-left: 93px;
}
.site-nav,
.contacts {
  @media screen and (min-width: 768px) {
    align-items: center;
    display: flex;
    margin-left: 93px;
  }
}
.site-nav__item:not(:last-child) {
  margin-right: 50px;
}
.site-nav .site-nav__link:last-child {
  margin-right: 0;
}
.contacts__item:first-child {
  margin-left: 0;
}
.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: $mainColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:last-child {
    margin-right: 0;
  }
  &:hover,
  &:focus {
    color: $accentColor;
  }
  &--current {
    position: relative;
    &:link,
    &:visited {
      color: $accentColor;
      background-color: none;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: #2196f3;
      border-radius: 2px;
    }
  }
}

/* Contact Information*/
.list {
  display: flex;
}
.info-list {
  margin-left: auto;
}
.contacts__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: $primaryTextColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accentColor;
  }
}
.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}
.contacts__item:first-child {
  margin-left: 0;
}

.site-nav__link--current {
  position: relative;
  &:link,
  &:visited {
    color: $accentColor;
    background-color: none;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
  }
}
